<!--
@license
Copyright (c) 2015 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/paper-styles/typography.html">
<script src="../../scripts/generateScramble.js"></script>

<dom-module id="my-scramble-display">
  <template>
    <style>
      :host {
        display: inline;
      }

      span {
        @apply(--paper-font-body2);
      }
    </style>

    <p style="font-family: 'Roboto Mono', 'Noto', sans-serif; white-space:pre-wrap;">{{scramble}}</p>
  </template>

  <script>
    (function() {
      'use strict';

      Polymer({
        is: 'my-scramble-display',

        properties: {
          scramble: {
            type: String,
            notify: true,
          }
        },

        ready: function() {
          this.scramble = generateScramble(30, 'HTM');
        },
        attributeChanged: function(name, type) {
          //console.log('attribute "' + name + '" changed')
          if (name === 'content') {
            this.scramble = generateScramble(30, 'HTM');
          }
        }
      });
    })();
  </script>
</dom-module>
