<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/paper-styles/typography.html">

<!-- shared styles for all elements and index.html -->
<dom-module id="shared-styles">
  <template>
    <style>
      .page-title {
        @apply(--paper-font-display2);
      }

      paper-menu a > *,
      paper-menu paper-item > *,
      paper-menu paper-icon-item > * {
        pointer-events: none;
      }

      @media (max-width: 600px) {
        .page-title {
          font-size: 24px!important;
        }
      }

      .amber {
        background: var(--paper-amber-900);
      }

      .lime {
        background: var(--paper-lime-500);
      }

      .cyan {
        background: var(--paper-cyan-500);
      }

      .dark {
        background: var(--paper-blue-grey-500);
      }

      .green {
        background-color: var(--paper-green-500);
        color: white;
      }
      .red {
        background-color: var(--paper-red-500);
        color: white;
      }

      paper-card.dark,
      paper-card.amber,
      paper-card.lime,
      paper-card.cyan,
      paper-card.green,
      paper-card.red {
        color: white;
        --paper-card-header-color: white;
      }
    </style>
  </template>
</dom-module>
