<!--
@license
Copyright (c) 2015 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/paper-styles/typography.html">


<dom-module id="my-time-display">
  <template>
    <!--<style>
      :host {
        display: inline;
      }
    </style>-->

    {{item}}
  </template>
  <script>
    function toHuman(timeInMilis) {
      var seconds = Math.floor(timeInMilis / 1000 % 60);
      var minutes = Math.floor(timeInMilis / 1000 / 60);
      var milis = timeInMilis - (minutes * 60 * 1000) - (seconds * 1000);
      var secondsString = seconds + '',
        minutesString = minutes + '',
        milisString = milis + '';
      if (seconds < 10) {
        secondsString = '0' + secondsString;
      }
      if (minutes < 10) {
        minutesString = '0' + minutesString;
      }
      while (milisString.length < 3) {
        milisString += '0';
      }
      return minutesString + ':' + secondsString + '.' + milisString;
    }
  </script>
  <script>
    (function() {
      'use strict';

      Polymer({
        is: 'my-time-display',

        properties: {
          item: {
            type: String,
            notify: true,
          }
        },

        ready: function() {
          this.item = '00:00.000';
        },
        attributeChanged: function(name, type) {
          if (name === 'value') {
            this.item = toHuman(parseInt(this.getAttribute(name)));
          }
        }
      });
    })();
  </script>

</dom-module>
