<!doctype html>
<!--
@license
Copyright (c) 2015 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="generator" content="Polymer Starter Kit">
  <title>TimedCubin'</title>

  <!-- Place favicon.ico in the `app/` directory -->

  <!-- Chrome for Android theme color -->
  <meta name="theme-color" content="#2E3AA1">

  <!-- Web Application Manifest -->
  <link rel="manifest" href="manifest.json">

  <!-- Tile color for Win8 -->
  <meta name="msapplication-TileColor" content="#3372DF">

  <!-- Add to homescreen for Chrome on Android -->
  <meta name="mobile-web-app-capable" content="yes">
  <meta name="application-name" content="PSK">
  <link rel="icon" sizes="192x192" href="images/touch/chrome-touch-icon-192x192.png">

  <!-- Add to homescreen for Safari on iOS -->
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="apple-mobile-web-app-title" content="Polymer Starter Kit">
  <link rel="apple-touch-icon" href="images/touch/apple-touch-icon.png">

  <!-- Tile icon for Win8 (144x144) -->
  <meta name="msapplication-TileImage" content="images/touch/ms-touch-icon-144x144-precomposed.png">

  <!-- build:css styles/main.css -->
  <link rel="stylesheet" href="styles/main.css">
  <!-- endbuild-->

  <!-- build:js bower_components/webcomponentsjs/webcomponents-lite.min.js -->
  <script src="bower_components/webcomponentsjs/webcomponents-lite.js"></script>
  <!-- endbuild -->

  <!-- Because this project uses vulcanize this should be your only html import
       in this file. All other imports should go in elements.html -->
  <link rel="import" href="elements/elements.html">

  <!-- For shared styles, shared-styles.html import in elements.html -->
  <style is="custom-style" include="shared-styles"></style>

</head>

<body unresolved>
  <span id="browser-sync-binding"></span>
  <template is="dom-bind" id="app">

    <paper-drawer-panel id="paperDrawerPanel">
      <!-- Drawer Scroll Header Panel -->
      <paper-scroll-header-panel drawer fixed>

        <!-- Drawer Toolbar -->
        <paper-toolbar id="drawerToolbar">
          <span class="menu-name">Menu</span>
        </paper-toolbar>

        <!-- Drawer Content -->
        <paper-menu attr-for-selected="data-route" selected="[[route]]">
          <a data-route="home" href="{{baseUrl}}">
            <iron-icon icon="home"></iron-icon>
            <span>Home</span>
          </a>

          <a data-route="settings" href="{{baseUrl}}settings">
            <iron-icon icon="settings"></iron-icon>
            <span>Settings</span>
          </a>
        </paper-menu>
      </paper-scroll-header-panel>

      <!-- Main Area -->
      <paper-scroll-header-panel main id="headerPanelMain" condenses keep-condensed-header>
        <!-- Main Toolbar -->
        <paper-toolbar id="mainToolbar" class="tall">
          <paper-icon-button id="paperToggle" icon="menu" paper-drawer-toggle></paper-icon-button>

          <span class="space"></span>

          <!-- Toolbar icons -->
          <!-- TODO: Reset times -->
          <paper-icon-button icon="refresh"></paper-icon-button>

          <!-- Application name -->
          <div class="middle middle-container">
            <div class="app-name">TimedCubin'</div>
          </div>

          <!-- Application sub title -->
          <div class="bottom bottom-container">
            <div class="bottom-title">An elegant timer FTW</div>
          </div>
        </paper-toolbar>

        <!-- Main Content -->
        <div class="content">
          <iron-pages attr-for-selected="data-route" selected="{{route}}">
            <section data-route="home">
              <h2>Timer</h2>
              <paper-material elevation="1" id="timerCard" class="red">
                <h2 class="page-title">
                  <my-time-display value="" id="counter" ></my-time-display>
                </h2>
              </paper-material>
              <paper-material elevation="1">
                <p>
                  Press the space bar until the above card becomes green. When it is, release and start doing your magic ! Press space bar again to stop.
                </p>
                <p>
                    On mobile devices, press with two fingers untils the above card becomes green, and stop by tapping with one finger.
                </p>
              </paper-material>
              <h2>Scramble</h2>
              <paper-material elevation="1">
                <my-scramble-display id='scramble' content="{{scramble}}"></my-scramble-display>
              </paper-material>
              <h2>Averages</h2>
              <paper-material elevation="1">
                <table style="width: 100%;">
                  <tr>
                    <td>Average 5: </td>
                    <td>Average 12: </td>
                  </tr>
                  <tr>
                    <td>Current Average: </td>
                    <td>Best time: </td>
                  </tr>
                </table>
              </paper-material>
              <h2>Previous times</h2>
              <paper-material elevation="1">

              </paper-material>
            </section>
            <section data-route="settings">
              <h2>Scramble</h2>
              <paper-material elevation="1">
                <h4>Turn Metric:</h4>
                <paper-radio-group>
                  <paper-radio-group selected="htm">
                    <paper-radio-button name="htm">Half Turn Metric</paper-radio-button>
                    <paper-radio-button name="qtm">Quarter Turn Metric</paper-radio-button>
                  </paper-radio-group>

                </paper-radio-group>
              </paper-material>
              <paper-material elevation="1">
                <h4>Length:</h4>
                <paper-input label="Default : 30" auto-validate allowed-pattern="[0-9]"></paper-input>
              </paper-material>
            </section>
          </iron-pages>



        </div>
      </paper-scroll-header-panel>
    </paper-drawer-panel>

    <paper-toast id="toast">
      <span class="toast-hide-button" role="button" tabindex="0" onclick="app.$.toast.hide()">Ok</span>
    </paper-toast>

    <!-- Uncomment next block to enable Service Worker support (1/2) -->
    <!---!-->
    <paper-toast id="caching-complete" duration="6000" text="Caching complete! This app will work offline.">
    </paper-toast>

    <platinum-sw-register auto-register clients-claim skip-waiting base-uri="bower_components/platinum-sw/bootstrap" on-service-worker-installed="displayInstalledToast">
      <platinum-sw-cache default-cache-strategy="fastest" cache-config-file="cache-config.json">
      </platinum-sw-cache>
    </platinum-sw-register>
    <!--!-->

  </template>

  <!-- build:js scripts/app.js -->
  <script src="scripts/app.js"></script>
  <!-- endbuild-->
  <script>
    this.isTimerRunning = false;
    this.timerInterval = 0;
    this.date = new Date();
    this.hasJustStopped = false;
    this.time = null;
    this.canStart = false;
    this.canStartTimeout = 0;
    window.addEventListener('keydown', function(e) {
      e = e || window.event;
      //console.log('keypress');
      if (e.keyCode === 32 && this.canStartTimeout === 0) {
        e.preventDefault();
        this.canStartTimeout = setTimeout(function() {
          this.canStart = true;
          app.$.timerCard.setAttribute('class', app.$.timerCard.getAttribute('class').replace('red', 'green'));
        }, 1000);
      } else if (e.keyCode === 32) {
        e.preventDefault();
        if (this.isTimerRunning) {
          setTimerState(!this.isTimerRunning);
          app.$.timerCard.setAttribute('class', app.$.timerCard.getAttribute('class').replace('green', 'red'));
        }
      }

    });
    window.addEventListener('keyup', function(e) {
      e = e || window.event;
      console.log('keyup', e.keyCode);
      if (e.keyCode === 32 && this.canStart) {
        e.preventDefault();
        setTimerState(!isTimerRunning);
        this.canStart = false;
      } else if (e.keyCode === 32) {
        e.preventDefault();
        clearTimeout(this.canStartTimeout);
        this.canStartTimeout = 0;
      }
    });


    this.fingers = 0;
    window.addEventListener('touchend', function() {
      console.log('touch end');
      if (this.hasJustStopped) {
        this.hasJustStopped = false;

      } else if (fingers === 2) {
        setTimerState(!isTimerRunning);

      }
      this.fingers--;
    });

    window.addEventListener('touchstart', function() {
      this.fingers++;
      if(this.fingers === 2){
          app.$.timerCard.setAttribute('class', app.$.timerCard.getAttribute('class').replace('red', 'green'));
      }
      console.log('touch start');
      if (isTimerRunning) {
        setTimerState(!isTimerRunning);
        this.hasJustStopped = true;
        app.$.timerCard.setAttribute('class', app.$.timerCard.getAttribute('class').replace('green', 'red'));
      }
    });

    function setTimerState(state) {
      if (state === true) {
        this.isTimerRunning = true;
        this.time = (new Date()).getTime();;
        timerInterval = setInterval(function() {
          setTimer((new Date()).getTime() - time);
          //console.log(this.date.getTime());
        }, 10);
      } else {
        this.isTimerRunning = false;
        clearInterval(this.timerInterval);
        this.timerInterval = null;
        app.$.scramble.setAttribute('content', Math.random());
      }
    }

    function setTimer(milis) {
      //console.log(milis);
      app.$.counter.setAttribute('value', milis);
    }
  </script>
</body>

</html>
